*,html,body {
margin: 0;
padding: 0;
box sizing: border box;
font-family: "plus-jakarta-sans", sans-serif;
text-shadow: 1px 8px 8px var(--hg2);
}

:root{
    --hg1: #ced9ed;
    --hg2: #cfc7fa;
    --hg3: #e2c6ee;
    --hg4: #efc8dd;
    --hg5: #d7e9db;

    --fc1 : #042440;
    --fc2 : #70869dd7;
    --fc3 : #800080c5;
    --fc4 : #008080;
}

.header1 {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--hg5);
    padding-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-shadow: 10px 10px 5px var(--hg2);
    
}

.logo {
    font-size: 50;
    align-items: central;
    color: var(--fc3);
    margin-right: auto;
    margin-left: 20px;
    cursor: pointer;
    transition: all .5s ease 0s;
}
 

li {
    padding: 10px;
    font-weight: 200;
    text-shadow: 10px 10px 5px var(--hg2);
}

a {
    color: var(--fc3);
    text-decoration: none;
    transition: all .5s ease 0s;
    padding: 10px;
}

li a:hover {
    color: var(--fc4);
    background: var(--hg4);
}

.ul {
    display: flex;
    padding: 20px;
    gap: 10px;
    list-style-type: none;
}

.button1{
    margin-right: 20px;
    border: none;
    font-size: 18px;
    padding: 15px;
    background: var(--fc3);
    color: var(--hg5);
    border-radius: 18px;
    cursor: pointer;
    transition: all .25s ease 0s;
}

.button1:hover {
    background: var(--hg4);
    color:#008080;
}

.header2 {
    background-color: var(--hg5);
    display:grid;
    grid-template-areas:
    'hero hero konten-1'
    'hero hero konten-2';
    gap:5px;
    padding-top: 10px;
}

.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(foto/gambar1.jpeg);
    background-size: cover;
    background-position-y: -410px;
    background-repeat: no-repeat;
    padding: 50px;
}

.hero > *{display:none;}

.features {
    background-color: var(--hg4);
    display: grid;
    text-align: justify;
    padding: 30px;
}

.konten-1{
    grid-area: konten-1;
    background-image: url(foto/gambar2.jpeg);
    background-size:cover;
    background-position-y:-230px ;
    background-repeat: no-repeat;
}

.konten-2{
    grid-area: konten-2;
    background-image: url(foto/gambar3.jpeg);
    background-size:590px;
    background-position-y: -420px;
    background-repeat: no-repeat;
}

.judul {
    font-size: 20px;
    color: var(--fc3);
    font-weight: 999;
}

.deskripsi {
    font-size: 15px;
    color: var(--fc4);
    font-weight: 900;
}

.hero:hover {
    transform: scale(1.1);
    transition: all .75s ease 0s;
}

.konten-1:hover {
    transform: scale(1.1);
    transition: all .75s ease 0s;
}

.konten-2:hover {
    transform: scale(1.1);
    transition: all .75s ease 0s;
}

.container2 {
    width: 100%;
    height: 500px;
    background-color: var(--hg5);
}

.wrapper {
    display:flex;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 20px;
    padding-top: 20px;
}

.card {
    background-color: var(--hg4);
    color: var(--fc4);
    padding: 25px;
    font-weight: 200;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 13px 0px rgba(217, 64, 186, 0.803);
    cursor: pointer;
    transition: all .25s ease 0s;
}

.text-center {
    text-align: center;
}

.icons {
    font-size: 30px;
    color: var(--fc3);
    margin-bottom: 10px;
}

.judul2 {
    font-size: smaller;
    margin: 8px;
}

.button2 {
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border: none;
    background-color: var(--fc3);
    color: var(--hg5);
    font-size: 18px;
    font-weight: 450;
    border-radius: 20px;
    padding: 15px;
}

.button2:hover {
    background: var(--fc4);
    color:var(--hg5);
    transition: all .25s ease 0s;
}

.liststyle{
    list-style-type: '❤️';
    padding:10px
}